<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Add New Item</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Image (URL)</ion-label>
        <ion-input
                type="url"
                ngModel
                name="imageUrl"
                #imageURLCtrl = "ngModel"
                required></ion-input>
      </ion-item>
      <ion-item *ngIf="!imageURLCtrl.valid && imageURLCtrl.touched" lines="none">
      <ion-note color="danger" style="font-size: 12px;">Image URL should be correct.</ion-note>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Type</ion-label>
          <ion-select placeholder="Select type"
                      interface="popover"
                      name="type"
                      ngModel
                      #typeCtrl = "ngModel"
                      required>
            <ion-select-option>CPU</ion-select-option>
            <ion-select-option>GPU</ion-select-option>
            <ion-select-option>RAM</ion-select-option>
            <ion-select-option>Motherboard</ion-select-option>
          </ion-select>
        <ion-item *ngIf="!typeCtrl.valid && typeCtrl.touched" lines="none">
          <ion-note color="danger" style="font-size: 12px;">Please select a type</ion-note>
        </ion-item>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Merk</ion-label>
        <ion-input
                type="text"
                ngModel
                name="merk"
                #merkCtrl = "ngModel"
                required></ion-input>
      </ion-item>
      <ion-item *ngIf="!merkCtrl.valid && merkCtrl.touched" lines="none">
      <ion-note color="danger" style="font-size: 12px;">Merk should be valid</ion-note>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Model</ion-label>
        <ion-input
                type="text"
                ngModel
                name="model"
                #modelCtrl = "ngModel"
                required></ion-input>
      </ion-item>
      <ion-item *ngIf="!modelCtrl.valid && modelCtrl.touched" lines="none">
      <ion-note color="danger" style="font-size: 12px;">Model should be correct.</ion-note>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Price</ion-label>
        <ion-input
                type="number"
                ngModel
                name="price"
                #priceCtrl = "ngModel"
                required></ion-input>
      </ion-item>
      <ion-item *ngIf="!priceCtrl.valid && priceCtrl.touched" lines="none">
      <ion-note color="danger" style="font-size: 12px;">Price should be correct.</ion-note>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Stock</ion-label>
        <ion-input
                type="number"
                ngModel
                name="stock"
                #stockCtrl = "ngModel"
                required></ion-input>
      </ion-item>
      <ion-item *ngIf="!stockCtrl.valid && stockCtrl.touched" lines="none">
        <ion-note color="danger" style="font-size: 12px;">Stock should be correct.</ion-note>
      </ion-item>

      <ion-item *ngIf="typeCtrl.value !== 'GPU' && typeCtrl.valid" lines="none" class="ion-padding-top">
        <b>Product Detail</b>
      </ion-item>

      <ion-list *ngIf="typeCtrl.value == 'CPU'">
        <ion-item>
          <ion-label position="floating">Base Clock (Ghz)</ion-label>
          <ion-input
                  type="number"
                  ngModel
                  name="baseclock"
                  #baseclockCtrl = "ngModel"
                  required></ion-input>
        </ion-item>
        <ion-item *ngIf="!baseclockCtrl.valid && baseclockCtrl.touched" lines="none">
          <ion-note color="danger" style="font-size: 12px;">Base clock should be correct.</ion-note>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Boost Clock (Ghz)</ion-label>
          <ion-input
                  type="number"
                  ngModel
                  name="boostclock"
                  #boostclockCtrl = "ngModel"
                  required></ion-input>
        </ion-item>
        <ion-item *ngIf="!boostclockCtrl.valid && boostclockCtrl.touched" lines="none">
          <ion-note color="danger" style="font-size: 12px;">Boost clock should be correct.</ion-note>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Core Count</ion-label>
          <ion-input
                  type="number"
                  ngModel
                  name="core"
                  #coreCtrl = "ngModel"
                  required></ion-input>
        </ion-item>
        <ion-item *ngIf="!coreCtrl.valid && coreCtrl.touched" lines="none">
          <ion-note color="danger" style="font-size: 12px;">Core count should be correct.</ion-note>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Thread Count</ion-label>
          <ion-input
                  type="number"
                  ngModel
                  name="thread"
                  #threadCtrl = "ngModel"
                  required></ion-input>
        </ion-item>
        <ion-item *ngIf="!threadCtrl.valid && threadCtrl.touched" lines="none">
          <ion-note color="danger" style="font-size: 12px;">Thread count should be correct.</ion-note>
        </ion-item>
      </ion-list>

      <ion-list *ngIf="typeCtrl.value == 'Motherboard'">
        <ion-item>
          <ion-label position="floating">Chipset</ion-label>
          <ion-input
                  type="number"
                  ngModel
                  name="chipset"
                  #chipsetCtrl = "ngModel"
                  required></ion-input>
        </ion-item>
        <ion-item *ngIf="!chipsetCtrl.valid && chipsetCtrl.touched" lines="none">
          <ion-note color="danger" style="font-size: 12px;">Chipset should be correct.</ion-note>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Processor Compatible</ion-label>
          <ion-input
                  type="number"
                  ngModel
                  name="processor"
                  #processorCompCtrl = "ngModel"
                  required></ion-input>
        </ion-item>
        <ion-item *ngIf="!processorCompCtrl.valid && processorCompCtrl.touched" lines="none">
          <ion-note color="danger" style="font-size: 12px;">Processor Compatible should be correct.</ion-note>
        </ion-item>
      </ion-list>

      <ion-list *ngIf="typeCtrl.value == 'RAM'">
        <ion-item>
          <ion-label position="floating">Speed (Mhz)</ion-label>
          <ion-input
                  type="number"
                  ngModel
                  name="speed"
                  #speedCtrl = "ngModel"
                  required></ion-input>
        </ion-item>
        <ion-item *ngIf="!speedCtrl.valid && speedCtrl.touched" lines="none">
          <ion-note color="danger" style="font-size: 12px;">RAM speed should be correct.</ion-note>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Size (GB)</ion-label>
          <ion-input
                  type="number"
                  ngModel
                  name="size"
                  #sizeCompCtrl = "ngModel"
                  required></ion-input>
        </ion-item>
        <ion-item *ngIf="!sizeCompCtrl.valid && sizeCompCtrl.touched" lines="none">
          <ion-note color="danger" style="font-size: 12px;">RAM size should be correct.</ion-note>
        </ion-item>
      </ion-list>
    </ion-list>
    <ion-button type="submit" color="primary" expand="block" [disabled]="!form.valid">
      Add
    </ion-button>
  </form>
</ion-content>