<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/', 'admin', 'add-item']">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><b>Admin</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-sliding *ngFor="let item of items"  #slidingItem>
    <ion-card class="ion-padding">
      <ion-item lines="none" [routerLink]="['/', 'admin', 'edit-item', item.id]">
        <ion-thumbnail slot="start">
          <ion-img [src]="item.imageUrl"></ion-img>
        </ion-thumbnail>
        <div class="ion-nowrap">
          <ion-label>
           <b>{{item.merk}} {{item.model}}</b>
          </ion-label>
          <ion-label>
            Rp {{item.price}}
          </ion-label>
          <ion-note>
            Tersedia: {{item.stock}}
          </ion-note>
        </div>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="presentAlert(item.id)">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="start">
        <ion-item-option color="tertiary"
                         [routerLink]="['/', 'admin', 'edit-item', item.id]"
                         (click)="editProductSlide(product, slidingItem)">
          <ion-icon name="create-outline" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-card>
    </ion-item-sliding>
</ion-content>
