<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="homeMenu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onDisplayModeChange(1)" *ngIf="displayMode == 2">
        <ion-icon name="list-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="onDisplayModeChange(2)" *ngIf="displayMode == 1">
        <ion-icon name="grid-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title><b>Home</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <span>
    <ion-list *ngIf="displayMode == 1">
      <ion-card *ngFor="let item of items" [routerLink]="['./', item.id]"
        class="ion-padding">
        <ion-item class="ion-no-padding" lines="none">
          <ion-thumbnail slot="start">
            <img [src]="item.imageUrl"/>
          </ion-thumbnail>
          <div class="ion-nowrap">
            <ion-label>
              <h4>{{item.merk}} {{item.model}}</h4>
              <p>Rp. {{item.price}}</p>
              <p>Tersedia: {{item.stock}}</p>
            </ion-label>
          </div>
        </ion-item>
      </ion-card>
    </ion-list>
  </span>

  <ion-grid *ngIf="displayMode == 2">
    <ion-row class="ion-justify-content-start">
      <ion-col *ngFor="let item of items" size="6" class="ion-text-center">
        <ion-card [routerLink]="['./', item.id]"
                  style="display: flex; height: 100%;">
          <ion-item lines="none">
            <div class="ion-nowrap">
              <ion-card-header>
                <ion-img [src]="item.imageUrl" style="width: 100px;"></ion-img>
                <b>{{item.merk}} {{item.model}}</b>
              </ion-card-header>
            <ion-card-content>
              <div class="ion-nowrap">
                <ion-label>
                  <p>Rp. {{item.price}}</p>
                  <p>Tersedia: {{item.stock}}</p>
                </ion-label>
              </div>
            </ion-card-content>
            </div>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>